<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Моля потвърдете подкрепата си за кампанията.</h1>
    <p>Здравейте, <%= @supporter.first_name %></p>
    <p>За да потвърдите вашият имейл, натиснете тази връзка:</p>

    <p>Благодарим!</p>
  </body>
</html>
