<ul>
  <li>губите време и пари в тромави и често излишни административни процедури поради липса на качествени електронни инструменти за целта;</li>
  <li>не сте доволни от начина, по който се изразходват вашите данъци и искате повече прозрачност, проследимост и отчетност;</li>
  <li>искате да сте сигурни, че не ви следят нерегламентирано и че личните ви данни са защитени, когато използвате електронни услуги на държавата;</li>
  <li>държавата не успява да ви осигури адекватно административно обслужване като гражданин в неравностойно положение;</li>
  <li>трудно ви е да намирате желаната от вас информация;</li>
  <li>липсата на адекватни инструменти ви възпрепятства да осъществявате граждански контрол;</li>
  <li>имате съмнения в корупция, които няма как да проверите;</li>
  <li>имате идеи за това какви електронни услуги може да ви бъдат предоставени, но знаете, че "нищо не се случва по въпроса с е-правителството'" и не вярвате, че има как те да се реализират;</li>
</ul>

