<ul>
  <li>имате идеи за подобрение на съществуващи публични електронни услуги, но те не са създадени по начин, който го позволява;</li>
  <li>виждате възможност съществуващи публични софтуерни системи да се преизползват за други цели, но въпреки, че софтуерът е заплатен с данъците ви, Вие нямате достъп и права над него;</li>
  <li>имате софтуерна експертиза и желание да работите с държавата за подобрение на съществуващи системи и услуги, но липсата на прозрачност и информация ви пречи да оцените необходимите усилия и да се включите;</li>
  <li>търпите загуби от невъзможността да извършите бързо и ефективно административните си задължения за ръководения от Вас бизнес, поради липса на качествени електронни инструменти за целта;</li>
</ul>


