/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.025em; }
  .button b {
    display: inline-block;
    position: relative;
    font-weight: 700;
    top: 0; }
  .button:active {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px; }
    .button:active b {
      top: 1px; }
  .button.small {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 16px 2px 16px;
    height: 23px;
    letter-spacing: 0; }
  .button.green {
    background: #7bc142; }
    .button.green:focus, .button.green:hover {
      background: #469704; }
    .button.green:active {
      background: #CAE0B9;
      color: #469704; }
    .donation .button.green.more {
      background: #89A275; }
      .donation .button.green.more:focus, .donation .button.green.more:hover {
        background: #469704; }
  .button.orange {
    background: #ff7e00; }
    .button.orange:focus, .button.orange:hover {
      background: #d65600; }
    .button.orange:active {
      background: #ffc389;
      color: #d65600; }
  .button.red {
    background: #c14242; }
    .button.red:focus, .button.red:hover {
      background: #9d2727; }
    .button.red:active {
      background: #fe9797;
      color: #9d2727; }
  .button.blue {
    background: #2296c1; }
    .button.blue:focus, .button.blue:hover {
      background: #197A9E; }
    .button.blue:active {
      background: #97C1D1;
      color: #197A9E; }
  .button.single:active {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    top: 1px; }
  .project-actions .button {
    min-width: inherit;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px; }
  .button.standard, header.masthead .project-actions li.see .button {
    font-size: 0.94em;
    padding: 0.66em 0.66em 0.6em 0.66em;
    line-height: 1em; }
  header.masthead .project-actions li.see:first-child .button.standard {
    padding-left: 0; }
  header.masthead .project-actions li.see .button {
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    color: #b0bfc5;
    padding-top: 2px;
    position: relative;
    font-weight: normal;
    left: 1px; }
    header.masthead .project-actions li.see .button:focus, header.masthead .project-actions li.see .button:hover {
      color: #fff; }
    header.masthead .project-actions li.see .button:after {
      font-family: Flaticon;
      content: "\e006";
      /*.flaticon-chevron15*/
      font-size: 95px;
      line-height: 35px;
      position: absolute;
      top: -2px;
      right: -50px;
      font-weight: normal;
      bottom: 0;
      opacity: 0;
      color: #377086; }
    header.masthead .project-actions li.see .button:hover:after {
      opacity: 1;
      right: -58px; }
    header.masthead .project-actions li.see .button:active:after {
      color: #2296c1;
      right: -60px; }
    header.masthead .project-actions li.see .button .label {
      display: block;
      text-transform: uppercase;
      color: #2296c1;
      font-size: 13px;
      font-weight: 900;
      position: relative;
      left: -1px; }
    header.masthead .project-actions li.see .button:focus .label, header.masthead .project-actions li.see .button:hover .label {
      color: #4ACEFF; }
    header.masthead .project-actions li.see .button:active .label {
      color: #2296c1; }
  header.masthead #sidebar .project-actions li.see .button:focus, header.masthead #sidebar .project-actions li.see .button:hover {
    color: #6FCCEE; }
  header.masthead #sidebar .project-actions li.see .button:active {
    color: #2296c1;
    left: 3px; }
    header.masthead #sidebar .project-actions li.see .button:active:after {
      color: #6FCCEE; }
  .important-actions .button {
    min-width: 130px;
    margin-bottom: 1px; }
    .important-actions .button:active {
      padding-right: 8px;
      padding-left: 8px;
      top: 2px; }
    .important-actions .button.green:active {
      top: -2px; }
    .important-actions .button:active b {
      top: 0; }

button.button {
  outline: none;
  padding: 0;
  border: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  button.button::-moz-focus-inner {
    padding: 0;
    border: 0;
    outline: none; }
    button.button::-moz-focus-inner:hover, button.button::-moz-focus-inner:active {
      padding: 0;
      border: 0;
      outline: none; }

input.button {
  outline: none;
  padding: 0;
  border: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button.button.small, input.button.small {
  height: 14px;
  padding-bottom: 9px; }

.donation button.button {
  text-transform: none; }

.donation .button.green.more:active {
  background: #CAE0B9;
  color: #469704; }

.home #projects .button.small:active b {
  top: 0;
  left: 2px; }

.basic-transition, .button {
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

.basic-transition-2x, .button:after, .banner .target .info .alternatives a, .campaign-bar .affiliation a, nav ul a, .argumentation > section a {
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }

.basic-transition-mid, nav, nav .pattern, nav ul a {
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.basic-transition-slow {
  -moz-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

.round, .button, nav ul a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box; }

.banner .target .info .alternatives a, .campaign-bar .affiliation a, nav ul a, .argumentation > section a {
  color: #0498cc;
  position: relative;
  cursor: pointer;
  top: 0; }
  .banner .target .info .alternatives a:hover, .campaign-bar .affiliation a:hover, nav ul a:hover, .argumentation > section a:hover {
    text-decoration: none;
    color: #03beff; }
  .banner .target .info .alternatives a:active, .campaign-bar .affiliation a:active, nav ul a:active, .argumentation > section a:active {
    text-decoration: none;
    color: #519cb6;
    top: 1px; }

.list > li:before, nav ul.list > li:before {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: bold;
  height: 1.8em;
  width: 1.8em;
  line-height: 1.7em;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -2.22em;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #108eba; }

.list > li:before, nav ul.list > li:before {
  counter-increment: list;
  content: counter(list); }

.list {
  counter-reset: list;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .list > li {
    position: relative;
    margin-bottom: 2em;
    line-height: 1.2em; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .banner .target:before, .campaign-bar:before, .argumentation > section#pains:before, .argumentation > section#solution:before, .argumentation > section#steps:before, .argumentation > section#steps ul:before, .argumentation > section#steps li.process:before, .clearfix:after, .banner .target:after, .campaign-bar:after, .argumentation > section#pains:after, .argumentation > section#solution:after, .argumentation > section#steps:after, .argumentation > section#steps ul:after, .argumentation > section#steps li.process:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .banner .target:after, .campaign-bar:after, .argumentation > section#pains:after, .argumentation > section#solution:after, .argumentation > section#steps:after, .argumentation > section#steps ul:after, .argumentation > section#steps li.process:after {
  clear: both; }

body {
  font-family: "obshtestvobg", "Myriad Pro", "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #607d89;
  background: #fff; }

strong {
  font-weight: bold; }

nav ul.list, .argumentation > section#pains, .argumentation > section#solution {
  max-width: 1000px;
  margin: 0 auto; }

.argumentation > section .half, .argumentation > section#steps li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4%;
  padding-top: 3em; }

.banner .target .info .alternatives a, .campaign-bar .affiliation a {
  color: #00c2ff; }
  .banner .target .info .alternatives a:hover, .campaign-bar .affiliation a:hover {
    color: #80e0ff; }
  .banner .target .info .alternatives a:active, .campaign-bar .affiliation a:active {
    color: #00afe6; }

h1, h2, h3, h4, h5, h6 {
  color: #108eba; }

section.intro {
  text-align: center;
  padding: 100px 0 100px 0;
  max-width: 600px;
  margin: 0 auto; }
  section.intro h2 {
    font-size: 2em;
    color: #7a96a2;
    font-weight: normal; }

nav {
  height: 3.75em;
  position: relative; }
  nav .pattern {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0; }
  nav ul {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold; }
    nav ul a {
      color: #108eba;
      text-decoration: none;
      display: inline-block;
      padding: 0 0.625em;
      line-height: 2.5em; }
      nav ul a .sub {
        display: block;
        color: #6baec5;
        position: absolute;
        line-height: 1.2em;
        white-space: nowrap;
        text-transform: none;
        font-weight: normal;
        text-align: center;
        top: 2.34375em;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
        nav ul a .sub:first-letter {
          text-transform: uppercase; }
    nav ul.list {
      max-width: 1200px; }
      nav ul.list > li {
        display: inline-block;
        vertical-align: top;
        padding-left: 1.5em;
        position: relative;
        width: 180px;
        line-height: 3.75em; }
        nav ul.list > li:before {
          background: #7bc142;
          left: 50%;
          font-size: 1.5em;
          top: -2em;
          opacity: 1;
          -moz-transform: translateX(-0.5em);
          -ms-transform: translateX(-0.5em);
          -webkit-transform: translateX(-0.5em);
          transform: translateX(-0.5em); }
      nav ul.list > li.active a {
        background: rgba(123, 193, 66, 0.4); }
  nav.stuck {
    background: #10303c;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; }
    nav.stuck a {
      color: #fff; }
      nav.stuck a .sub {
        opacity: 0; }
    nav.stuck .pattern {
      opacity: 0.4; }

.banner {
  overflow: hidden;
  min-height: 300px;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }
  .banner header {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 70%;
    left: 10%;
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%); }
  .banner h1 {
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.01em;
    font-size: 5em;
    line-height: 0.85em; }
  .banner h2 {
    padding-top: 0.5em;
    color: #ceeffb;
    font-size: 2em; }
  .banner .target {
    font-size: 0.8em;
    float: right;
    font-style: italic;
    margin: 4px 10px;
    color: #fff; }
    .banner .target > .prompt {
      float: left;
      position: relative;
      width: 18.75em;
      height: 10.62em;
      text-align: right;
      padding-right: 1em; }
      .banner .target > .prompt p {
        font-size: 1.55em;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .banner .target > .prompt p strong {
          font-weight: 700;
          font-size: 1.29em; }
    .banner .target .badge {
      margin-left: -0.2em;
      float: left;
      z-index: 1;
      width: 9.5em;
      position: relative;
      text-align: center; }
      .banner .target .badge .bookmark {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0; }
        .banner .target .badge .bookmark polygon {
          fill: #194a5c; }
      .banner .target .badge .logo {
        font-size: 1.1em;
        display: inline-block;
        position: relative;
        z-index: 2;
        width: 52%;
        margin-top: 2em; }
        .banner .target .badge .logo path {
          fill: #fff; }
    .banner .target .info {
      float: left;
      margin-left: -0.2em; }
      .banner .target .info .name {
        background: rgba(25, 74, 92, 0.7);
        height: 10.62em;
        width: 17.87em; }
        .banner .target .info .name p {
          font-size: 1.47em;
          line-height: 1.13em;
          position: relative;
          padding-left: 0.78em;
          padding-right: 0.78em;
          top: 50%;
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
      .banner .target .info .alternatives {
        font-size: 1.2em;
        font-style: normal;
        padding-top: 0.8em;
        text-align: right; }
        .banner .target .info .alternatives p {
          margin: 0 0 0.5em 0; }
        .banner .target .info .alternatives li {
          padding-top: 0.3em; }
        .banner .target .info .alternatives .prompt {
          font-weight: bold; }

.campaign-bar {
  background: rgba(16, 48, 60, 0.6);
  color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin: 4px;
  padding: 0.75em 0.62em 0.75em 1.85em;
  min-height: 2.25em; }
  .campaign-bar .affiliation {
    float: left;
    padding-top: 0.62em;
    font-size: 1em; }
  .campaign-bar .back {
    float: right; }
    .campaign-bar .back .button {
      margin-left: 10px; }

.argumentation {
  padding-top: 70px; }
  .argumentation > section {
    padding-top: 2em;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5em; }
    .argumentation > section p {
      margin-bottom: 1.2em; }
    .argumentation > section .heading {
      text-align: left;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em; }
    .argumentation > section ul.list > li {
      font-size: 0.8em;
      margin-bottom: 0.8em; }
      .argumentation > section ul.list > li:before {
        content: "";
        font-size: 0.55em;
        left: -3.3em;
        top: 1.48em; }
    .argumentation > section .half {
      width: 50%;
      display: inline-block;
      padding-bottom: 10em;
      position: relative; }
      .argumentation > section .half.conclusion p:first-child {
        font-size: 1.2em; }
      .argumentation > section .half.conclusion:before, .argumentation > section .half.conditions:after {
        content: "";
        position: absolute;
        width: 1px;
        right: 0;
        top: 0;
        bottom: 0;
        background: #b1da8f; }
      .argumentation > section .half.conclusion:before {
        right: auto;
        left: -1px; }

.argumentation > section#pains {
  position: relative; }
  .argumentation > section#pains header {
    z-index: 2;
    text-align: center;
    font-size: 3em;
    position: absolute;
    width: 100%; }
    .argumentation > section#pains header h2 {
      color: #fff;
      font-size: 1em; }
    .argumentation > section#pains header .num {
      position: absolute;
      color: #fff;
      top: -1.55em;
      left: 50%;
      font-weight: bold;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .argumentation > section#pains:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 150px;
    margin: 0 auto;
    text-align: center;
    width: 1em;
    color: #fff;
    height: 1em;
    background: #7bc142; }

.argumentation > section#solution {
  position: relative;
  max-width: 900px;
  padding-top: 0; }
  .argumentation > section#solution h2 {
    background: #7bc142;
    width: 6em;
    height: 6em;
    line-height: 6em;
    margin: 0 auto 2em auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: relative; }
    .argumentation > section#solution h2:before {
      content: "2";
      font-size: 1.5em;
      position: absolute;
      left: 0;
      top: -4em;
      color: #7bc142;
      text-align: center;
      width: 100%; }
  .argumentation > section#solution .requirements {
    border-right: none;
    font-size: 2em;
    color: #108eba;
    position: relative;
    margin-bottom: 0.8em; }
  .argumentation > section#solution span.checklist {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: right;
    font-size: 0.6em;
    text-align: left;
    margin: -1em -1.6% 1em 0;
    color: #7a96a2; }
  .argumentation > section#solution table {
    clear: both;
    border-collapse: separate;
    max-width: 90%;
    margin: 0 auto; }
    .argumentation > section#solution table td {
      padding: 2%; }
    .argumentation > section#solution table td {
      font-size: 0.8em;
      position: relative; }
      .argumentation > section#solution table td:first-child {
        padding-left: 3em;
        background: url("../img/chevron15.svg") no-repeat -0.7em 50%;
        background-size: 4.5em; }
    .argumentation > section#solution table .checklist {
      width: 15%;
      border: 1px solid #d4dde1;
      border-top: none;
      background: #f2f5f6;
      font-size: 1.5em;
      vertical-align: middle;
      text-align: center; }
      .argumentation > section#solution table .checklist:before {
        display: none; }
      .argumentation > section#solution table .checklist svg {
        height: 1em;
        width: 1em; }
        .argumentation > section#solution table .checklist svg path {
          fill: #7bc142; }
    .argumentation > section#solution table tr:first-child .checklist {
      border-top: 1px solid #d4dde1;
      -moz-border-radius-topleft: 0.1em;
      -webkit-border-top-left-radius: 0.1em;
      border-top-left-radius: 0.1em;
      -moz-border-radius-topright: 0.1em;
      -webkit-border-top-right-radius: 0.1em;
      border-top-right-radius: 0.1em; }
    .argumentation > section#solution table tr:last-child .checklist {
      -moz-border-radius-bottomleft: 0.1em;
      -webkit-border-bottom-left-radius: 0.1em;
      border-bottom-left-radius: 0.1em;
      -moz-border-radius-bottomright: 0.1em;
      -webkit-border-bottom-right-radius: 0.1em;
      border-bottom-right-radius: 0.1em; }

.argumentation > section#steps {
  max-width: 90%;
  padding-top: 7em;
  position: relative; }
  .argumentation > section#steps .subtitle {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3em; }
  .argumentation > section#steps h2 {
    text-align: center; }
  .argumentation > section#steps li {
    max-width: 30em;
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 2%;
    padding-bottom: 3em; }
    .argumentation > section#steps li img {
      width: 100%;
      max-width: 280px;
      display: block;
      margin: 0 auto 2em auto; }
  .argumentation > section#steps li.requirements p {
    position: relative;
    text-align: left;
    left: 50%;
    width: 80%;
    margin-left: -5em; }
  .argumentation > section#steps li.requirements img {
    margin-bottom: 1em; }
  .argumentation > section#steps li.data {
    text-align: left; }
    .argumentation > section#steps li.data p {
      position: relative;
      left: 50%;
      width: 50%;
      padding: 5% 0 0 7%;
      margin-top: -9.5em; }
  .argumentation > section#steps li.process p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    left: -15%;
    text-align: right;
    padding: 1.5%;
    width: 70%;
    float: left; }
    .argumentation > section#steps li.process p:last-child {
      width: 30%;
      text-align: left; }

@media only screen and (min-width: 1400px) {
  .banner {
    font-size: 1.2em; } }
@media only screen and (max-width: 800px) {
  .banner {
    font-size: 0.8em; } }
@media only screen and (min-width: 1800px) {
  .banner {
    font-size: 1.3em; } }
@media only screen and (min-width: 2000px) {
  .banner {
    font-size: 1.5em; } }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=app.css.map */
