<p class="prompt">Станете една от <strong>първите отворени и модерни администрации</strong>, които се присъединяват към инициативата. <strong>Бъдете пионери</strong> и поведете революцията:</p>
<a href="#" class="button standard green"><b>Свържете се с нас</b></a>

