<p class="subtitle">Държавните органи и всяка отделна администрация могат да предприемат следните <strong>три прости и евтини стъпки</strong> чрез промени в нормативната си уредба, за да адресират тези проблеми:</p>
