<ul>
    <li>вършите работа, която някой друг би трябвало да е свършил;</li>
    <li>притискат ви с невъзможни срокове;</li>
    <li>понасяте лично негативи по вина на негодни софтуерни системи или инструменти;</li>
    <li>работите в среда със затруднена комуникация с другите звена на администрацията поради липса на
        подходящите инструменти;
    </li>
    <li>обърква ви поредната различна софтуерна система, която използвате;</li>
    <li>чувствате се непродуктивни и с вързани ръце заради недостатъците на софтуерните инструменти, които са ви
        осигурени;
    </li>
    <li>искате да подобрите софтуерната система, която използвате, но фирмата, която го е разработила, ви
        поставя невъзможни условия и нямате алтернатива;
    </li>
    <li>продуктът, който сте поръчали за изработка, се разминава драстично с вашите очаквания като поръчител и
        ползвател;
    </li>
</ul>

