<h4 class="myth">Всеки ли ще може да променя кода на проектите?</h4>
<p class="answer">Не. Отвореният код позволява на всеки да чете кода свободно, но не и да прави промени по него, които да се отразят на работещите продукти. Всеки би могъл да прави предложения за промени, които биха могли да станат част от работещия продукт само след преглед и одобрение.</p>

<h4 class="myth">Не е ли опасно от гледна точка на сигурността всеки да вижда кода?</h4>
<p class="answer">Това е най-често срещаната заблуда. Интересен и малко известен факт е, че софтуерът, на който стъпват всички защитени системи за електронно банкиране, електронна търговия и криптиране на данни, е с отворен и свободен код. Чувствителните откъм сигурност софтуерни системи и компоненти не са застрашени при публикуване на техния изходен код. Нещо повече - това има дисциплиниращ и превантивен ефект и позволява евентуални слабости в сигурността да се забележат и отстранят своевременно. Други примери за софтуер с отворен код са уеб браузърите Google Chrome и Mozilla Firefox. Кодът на този уебсайт също е отворен.</p>

<h4 class="myth">Отвореният код дава ли свободен достъп до данните, с които работи софтуерът?</h4>
<p class="answer">Не. Кодът на една софтуерна система описва само функционалността й, но не съдържа данните, с които тя работи. Публикуване на кода не означава публикуване на данните. Допълнително, чувствителна информация като пароли, ключове и данни за достъп не се правят публично достояние. Публикуване на кода е като да публикувате архитектурна скица на вашето жилище и да пуснете хората в негово необзаведено копие. Оригиналът на жилището ви остава недокоснат, а всички ваши лични вещи вътре – недостъпни за външния свят.</p>

<h4 class="myth">Не се ли нарушава авторското право?</h4>
<p class="answer">Зависи от лиценза, под който е публикуван кодът. Ако не е сложен никакъв лиценз - тогава авторското право е в сила. Най-честата и полезна практика е лицензите да се избират така, че да позволяват на хората да преизползават кода под една или друга форма и да правят предложения за подобрение и развитие в оригиналния продукт.</p>

<h4 class="myth">Това означава ли, че администрацията трябва да се обучава на Linux и OpenOffice?</h4>
<p class="answer">Не. Кампанията цели да се отвори специализираният софтуер, поръчван и разработван за нуждите на държавата. Внедряването на готов софтуер с отворен код като Linux и OpenOffice в администрацията не е сред приоритетите на тази кампания.</p>

<h4 class="myth">Дори да се отвори софтуерът, никой няма да чете и одитира хиляди редове код.</h4>
<p class="answer">Не е необходимо да се изчете кодът на едно приложение от край до край, за да се провери дали са спазени добрите практики и конвенции. Всъщност, кратък преглед е напълно достатъчен за ориентиране качеството на кода. Възможно е да бъдат открити и докладвани проблеми в сигурността с изследване на определени ключови точки в архитектурата.</p>

<p class="answer">Но всъщност въпросът за отворения код е принципен и е свързан с прозрачното харчене на публични средства. Както един общински строеж може да се следи в движение от гражданите и да се търси отговорност, ако се ползват лоши практики или резултатите не отговарят на очакванията, така и процесът по създаване на софтуер за държавата трябва да бъде прозрачен и проследим.</p>

<h4 class="myth">Ще се увеличат ли разходите за разработка на софтуера, ако той трябва да е с отворен код?</h4>
<p class="answer">Не. Необходимостта софтуерът да е с отворен код няма негативно отношение към времето и цената за изработка.</p>

<h4 class="myth">Как може да се гарантира, че работата ще се свърши, ако няма подробна спецификация?</h4>
<p class="answer">Този въпрос отдавна е решен в бизнес света и гъвкавата разработка е установен стандарт, който води до оптимални резултати при минимален разход на време и средства. Нормативната рамка може да се изработи в съответствие с договорите, които софтуерните компании сключват, за да работят по този начин.</p>

<h4 class="myth">Софтуер с отворен код? Това е просто мода.</h4>
<p class="answer">Движението за софтуер с отворен код е много „старо“ от гледна точка на „младостта“ на информационните технологии. То води своето зараждане от началото на 80-те години. Днес такъв софтуер е практически навсякъде - от най-малките приложения до огромни системи. На него разчитат големи корпорации, огромна маса потребители използват плеяда от такива технологии всеки ден, въпреки че малко от тях го осъзнават, и дори комерсиални продукти се възползват от отворените технологии за своето съществуване. В последното няма нищо лошо, стига да е уважено желанието на разработчиците, регламентирано в лиценза.</p>

