default: &default
  adapter: postgresql
  encoding: unicode
  username: root
  password:
  host: localhost
  pool: 5

development:
  <<: *default
  database: gov_development

test:
  <<: *default
  database: gov_test
