<%= render 'shared/header' %>

<div class="argumentation">
  <section id="support">
    <header>
      <h2 class="number">Подкрепи</h2>
    </header>

    <div class="act" id="sign">

      <%= render 'supporters/form' %>

    </div>
  </section>

</div>

<%= render 'shared/footer' %>
