
// Header
@media only screen and (min-width: 1400px) {
  .banner {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1800px) {
  .banner {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 2000px) {
  .banner {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1080px) {
  .campaign-bar .affiliation {
    float:none;
  }
  .campaign-bar .back {
    margin-top: 0.5em;
    float:none;
    clear:left;
  }
}

@media only screen and (max-width: 850px) {
  nav.main {
    height: auto;
    ul > li {
      padding-left: 0;
      text-align: left;
      display: block;
      width:20em;
      margin:0 auto;
      margin-bottom: 2em;
      a {
        line-height: 1em;
        display: block;
        height: 3.8em;
        @include box-sizing(border-box);
        padding-left: 0;
        width:auto;
        .va {
          top:50%;
          @include transform(translateY(-50%))
        }
        &:before {
          @include box-sizing(border-box);
          @include transform(none);
          display: block;
          font-size: 2em;
          position: static;
          line-height: 2em;
          margin:0;
          margin-right: 0.5em;
          top:0;
          left:0;
          float:left;
          width:2em;
          height:2em;
        }
        .sub {
          padding-top: 0.2em;
        }
      }
    }
    ul a .sub {
      position: static;
      text-align: left;
      @include transform(none)
    }
  }
  nav.fixed {
    min-width:0;
    width: $navHeight;
    @extend .round;
    @include border-bottom-left-radius(0);
    @include border-top-left-radius(0);
    @include border-top-right-radius(0);
    .handle {
      display: block;
    }
    ul {
      text-align: left;
      padding-top: 5em;
      height: 100%;
      display: none;
      overflow: hidden;
    }
    ul > li {
      padding-left: 0;
      height: 4.4em;
      display: block;
      width:auto;
      margin-bottom: 0;
      a {
        display: block;
        @include box-sizing(border-box);
        line-height: 4em;
        padding-left: 5%;
        width:auto;
        &:before {
          @include box-sizing(border-box);
          @include transform(none);
          display: block;
          font-size: 2em;
          position: static;
          line-height: 2em;
          margin:0;
          margin-right: 3%;
          top:0;
          left:0;
          float:left;
          width:2em;
          height:2em;
        }
      }
    }
    &.active {
      height: 100%;
      width:50%;
      min-width:300px;
      .handle {
        padding-left: 5%;
        padding-top: 2%;
      }
      ul {
        min-width: 0;
        display: block;
      }
    }
  }
}


// Body

@media only screen and (max-width: 850px) {
  section.intro h2 {
    padding: 0 4%;
  }
  %section-header-override {
    padding-left: 0;
    h2 {
      margin: 0 0 0 1.5em;
      padding: 0;
      &:before {
        position: static;
        margin-right: 0.2em;
        background: none;
        line-height: 1.4em;
        height: auto;
        width: auto;
        font-size: 1.4em;
        color: darken($colorSecondary, 30%);
      }
    }
  }
  .argumentation {
    padding-top: 0;
    > section .half {
      display: block;
      margin-left: 10%;
      width:auto;
      padding-left: 0;
      padding-bottom: 0;
      &.conditions:after, &.conclusion:before {
        display: none;
      }
    }
    section {
      padding-top: 0;
    }
    section#pains {
      header {
        @extend %section-header-override;
        .heading {
          background: red;
          padding-left: 3%;
        }
      }
      ul {
        padding-left: 3%;
      }
    }
    section#solution {
      &:before {
        display: none;
      }
      header {
        @extend %section-header-override;
      }
      > ul {
        &:after {
          display: none;
        }
        li:after {
          display: none;
        }
        li:first-child:before {
          display: none;
        }
      }
    }
    section#steps {
      &:before {
        display: none;
      }
      header {
        &:before, &:after, .line1{
          display: none;
        }
      }
      ul.points > li {
        padding-bottom: 1.7em;
        &:before, &:after, .connect, .point:after {
          display: none;
        }
        .cover {
          float: none;
          text-align: center;
          margin-bottom: 1em;
        }
        .content {
          .img { display: none; }
          .essence { margin: 0 auto; }
        }
        .content,
        .point {
          position: static;
          padding: 1em 0 0 0;
          margin-left: 0;
          max-width: 95%;
        }
      }
      h3 {
        display: none;
      }
      .subtitle {
        text-align: center;
        max-width: none;
        margin-right: 0;
        left: 0;
      }
    }
    section#myths {
      padding-top: 0;
      max-width: 90%;
      header {
        @extend %section-header-override;
      }
      h2.heading {
        padding-left: 10%;
      }
    }
    section#experience {
      padding-top: 0;
      header {
        @extend %section-header-override;
      }
    }
    section#support {
      padding-top: 0;
      header {
        @extend %section-header-override;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    font-size: 0.8em;
    header {
      max-width: 80%;
    }
    header h1{
      padding: 0.1em 0 0 0;
    }
    header h2{
      padding: 0 0 2em 0;
    }
  }
}

@media only screen and (max-width: 750px) {
  .banner {
    section.secondary {
      ul {
        li {
          width: 100%;
          float: none;
          border-right: none;
          padding-right: none;
          margin-right: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    header {
      max-width: 100%;
      h1 {
        font-size: 3em;
      }
    }

    .area-links-wrapper {
      .area-links {
        .help {
          font-size: 1.3em;
        }
        .button {
          font-size: 1em;
          padding: 0.7em 0.6em;
          &.active {
            padding: 0.8em 0.6em;
          }
        }
      }
    }
  }

  nav.main {
    margin-top: 2em;
    ul {
      margin-left: 4%;
      > li {
        margin-bottom: 1em;
      }
    }
  }

  .argumentation > section {
    .half {
      padding-top: 1.5em;
      &.conclusion p {
        font-size: 1.1em;
        &:first-child {
          font-size: 1.2em;
        }
      }
    }
    .heading {
      font-size: 1.4em;
      font-weight: normal;
      margin-bottom: 0.8em;
    }
    &#pains,
    &#solution {
      padding-top: 2em;
    }

    &#pains,
    &#solution,
    &#steps,
    &#myths,
    &#experience,
    &#support {
      header {
        h2 {
          font-size: 1.5em;
          line-height: 1em;
        }
      }
    }

    &#solution {
      span.checklist {
        display: none;
      }
      header {
        padding-bottom: 1.5em;
      }
    }

    #steps {
      margin-top: 2em;
      .subtitle {
        font-size: 1.2em;
        margin: 0 4%;
      }
    }
  }
}
